# Archivos de compilación y dependencias generados
/build/
/ios/Pods/
/android/.gradle/
/android/build/
/ios/Flutter/.symlinks/
/ios/Flutter/ephemeral/
/pianta-grande-rg-e2bb451185df.json
/lib/firebase_options.dart

# Archivos de IDE
/.idea/
/.vscode/

# Archivos de usuario
*.iml
*.lock
*.log
*.apk
*.zip
*.tar.gz

# Archivos de caché y temporales
*.dart_tool/
*.pub-cache/
/ios/Podfile.lock
/ios/Pods/
/android/.idea/
.DS_Store
.dart_tool/
.pub/
